# Names of the settings the bot reads. On Koyeb these are environment variables of the service.
# Never commit a filled-in copy of this file.
DISCORD_TOKEN=
SYNC_KEY=
GUILD_ID=
FIVEM_URL=http://23.27.211.21:30136
CONNECT_URL=
STATUS_CHANNEL_ID=
SERVER_NAME=Palm Springs Roleplay
